 body {
  font-family: Consolas, monaco, monospace;
  font-size: 20px;
  line-height: 1.6;
  color: #FFFFFF;
  background-color: #222;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  /* padding: 0 20px; */
  letter-spacing: 0.03em;
 }

h1, h2, h3 {
  font-family: Consolas, monaco, monospace;
  font-weight: normal;
  /* margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.04em;*/
}

h1 {
  font-size: 42px;
}

.longTitle {
  font-size: 24px;
}

h2, h3 {
  font-size: 26px;
}

a {
  color: #0066CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.thicker {
  
  color: red;
}

/* Lists */

ul {
  margin: 0;
  padding: 0;
}
  
li {
  margin-left: 2.5em;
  list-style-position: outside;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 50%;
}

/* Classes */

.container {
  max-width: 1400px;
  margin: 40px auto;
  margin-top: 20px;
  padding: 20px;
}

.years {
  color: #777777;
  font-size: 80%;
}

.gray {
  color: #777777;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Round the homepage profile pic */
.rounded {
  border-radius: 50%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.videoContainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  margin-top: 20px;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 0 15px;
  }

  h1 {
    font-size: 32px;
  }

  .longTitle {
    font-size: 18px;
  }

  h2, h3 {
    font-size: 22px;
  }

  .container {
      margin-top: 0px;
      border: 1px solid #444;
  }

  ul {
      margin-left: 10px;
      margin-right: 0px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #E0E0E0;
    background-color: #222;
  }
  
  a {
    color: #80B3FF;
  }
}